body {
    font-family: 'Gill Sans MT', 'Trebuchet MS', sans-serif,'Playfair Display', 'Times New Roman', Times, serif;
    background-color: #002237;
    color: rgb(237, 237, 237);
    /* background-color: #9bcdff; */
}

.welcome {
    font-size: 70px;
    font-weight: bold;
}

#footer {
    text-align: center;
}

#statement {
    font-size: 19px;
}

.project {
    /* border: 1px solid; */
    background-color: gray;
    border-radius: 20px;
    /* box-shadow: 2px 2px 2px rgb(19, 255, 39); */
    margin-bottom: 14px;
    margin-right: 14px;
    /* margin-right: 0px; */
    padding-top: 9px;
}

.project:hover {
    border: 1px solid white;
    box-shadow: 5px white;
    /* outline: 1px solid white; */
}

a.project:link {
    text-decoration: none
}
a.project:visited {
    text-decoration: none
}
a.project:hover {
    text-decoration: none
}
a.project:active {
    text-decoration: none
}

#logo {
    width: 1px;
}

#navbarBtn {
    margin-right: 15px;
    margin-top: 5px;
}

#navbarMenu {
    background-color:  rgb(0, 34, 55);
}

.sidenav {
    font-family: Menlo;
    height: 100%; 
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px;
    transition: 0.3s;
}
  
  /* navigation menu links; includes X */
.sidenav a {
    text-decoration: none;
    font-size: 19px;
    color:  rgb(19, 192, 255);
    display: block;
    transition: 0.3s;
    text-align: center;
}

/* navigation menu links not including X */
.sidenavLink {
    padding: 35px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}
  
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#dgolf {
    background-image: url('hole18.jpg');
    color: black;
}

#mgame {
    background-image: url('memoryGame.png');
    background-size: 100%;
    color: black;
    min-height: 265px;
}

@media (max-width: 768px) {
    [class*="project"] {
        margin-left: 18px;
    }
}

#contact {
    text-align: center;
}

#contact a {
    margin: 10px;
}